@media screen and (min-width: 600px) {
    #productos-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        width: -webkit-fill-available;
        gap: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .hero-content-productos {
        min-height: 100dvh;
    }
}

@media screen and (max-width: 600px) {
    #productos-grid {
        padding-left: 7%;
        padding-right: 7%;
    }

    .hero-content-productos {
        min-height: 30dvh;
    }
}

.hero-section-productos {
    text-align: center;
    color: #fff;
    background-image: url('/src/assets/productos-hero.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: left;
    align-items: end;
    width: 100%;
    display: flex;
    position: relative;
}

.hero-content-productos {
    align-content: center;
    width: 100dvw;
    z-index: 2;

    h3 {
        color: rgb(241, 192, 20);
        font-size: 40pt;
    }
}


#descripcion-productos {
    color: black;
    background-color: #f5f1e6;
    font-size: 17pt;
    padding-bottom: 5vmin;
    padding-top: 5vmin;
}

#productos-grid {
    background-color: #f5f1e6;
    padding-bottom: 7%;
    padding-top: 7%;
    border-top: 0.01rem solid #b0b0ac;

    h2 {
        color: black;

    }
}

.card-producto {
    transition: box-shadow 0.4s ease-in, -webkit-box-shadow 0.4s ease-in;

    &:hover {
        box-shadow: 15px 24px 49px -22px rgba(26, 32, 44, 0.63);
        -webkit-box-shadow: 15px 24px 49px -22px rgba(26, 32, 44, 0.63);
    }
}